/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

/* Sección de encabezado */
header {
    background-size: cover;
    position: relative;
    background-position: center;
    color: #fff;
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.banner-image2 {
    width: 100%;
    height: 2vh;
    object-fit: cover;
    display: block;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../../imagenes/ima.webp');
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

nav .logo h1 {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin-left: 40px;
    font-weight: 900;
}

nav .logo h1 .blanco {
    color: white;
}

nav .logo h1 .plomo {
    color: #808080;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    padding-right: 30px;
}

/* Ocultar el ícono de menú hamburguesa en pantallas grandes */
.menu-toggle {
    display: none;
}

/* Sección de contenido principal */
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.header-content .btn {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.header-content .btn:hover {
    background-color: #e59400;
}

/* Menú hamburguesa para pantallas pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    nav ul.show {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    nav ul li {
        margin: 15px 0;
    }

    .header-content h2 {
        font-size: 32px;
    }

    .header-content p {
        font-size: 16px;
    }

    .header-content .btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        font-size: 24px;
        color: white;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        padding: 20px;
        text-align: left;
        transition: left 0.3s ease;
        z-index: 1000;
        border-radius: 0 15px 15px 0;
    }

    nav ul.show {
        left: 0;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        display: block;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        font-family: 'Arial', sans-serif;
        font-weight: 900;
    }

    nav ul li a:hover {
        background-color: #ffa500;
        color: #fff;
    }

    .menu-toggle i {
        font-size: 24px;
        color: #fff;
    }

    nav ul li a {
        transition: all 0.3s ease;
    }

    .header-content h2 {
        font-size: 32px;
    }

    .header-content p {
        font-size: 16px;
    }

    .header-content .btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* Estilos generales del pie de página */
footer {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e5e5e5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #e5e5e5;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffa500;
}

.footer-section p, .footer-section a {
    color: #e5e5e5;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    color: #666;
    font-size: 14px;
}

.footer-section i {
    margin-right: 8px;
}

.footer-section ul li i {
    color: #808080;
}

/* Footer responsive styling */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-section ul {
        padding: 0;
        text-align: center;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-bottom {
        padding-top: 20px;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Contenedor principal que encierra el área lateral y la tabla de salas */
.main-container {
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
    padding-top: 20px;
    gap: 20px;
}

/* Sección lateral para Discord y Chat */
.side-section {
    width: 350px; /* Increase the width as needed */
}


/* Ajuste de la tabla de salas para ocupar el espacio restante */
.table-section {
    flex-grow: 1;
    background-color: #1f1f1f;
    border-radius: 8px;
    color: #ffffff;
    padding: 20px;

}

/* Ajuste de la tabla para expandirse y tener bordes redondeados */
.room-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #23272a;
    border-radius: 8px;
    overflow: hidden;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-header button {
    background-color: #7B61FF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.room-table thead {
    background-color: #2c2f33;
}

.room-table th, .room-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555555;
    color: #ffffff;
}

.room-table tbody tr {
    transition: background-color 0.3s;
}

.room-table tbody tr:hover {
    background-color: #3a3e42;
}

.room-table td img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.room-table td.jugadores {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos adicionales para mejorar el diseño lateral */
.discord-widget, .chat-general {
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.discord-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.discord-info ul li {
    font-size: 14px;
    margin: 5px 0;
}

.discord-info button {
    background-color: #5865F2;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-messages {
    max-height: 300px;
    overflow-y: auto;
    background-color: #23272a;
    padding: 10px;
    border-radius: 8px;
}

.chat-general input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #2c2f33;
    color: #fff;
}

.chat-general button {
    background-color: #43b581;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
